# syncspace-backend/.env.example
POSTGRES_USER=syncspace_admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=syncspace_db

MONGO_USER=syncspace_admin
MONGO_PASSWORD=change_me

RABBITMQ_USER=syncspace_admin
RABBITMQ_PASSWORD=change_me

JWT_SECRET=change_me